<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    <div th:object="${game}">

        <h1><span th:text="*{name}"></span></h1>
        
        <img th:src="*{image}" th:alt="'image of ' + *{name}">
        <table>
            <tr>
                <td>Year</td>
                <td>:</td>
                <td><span th:text="*{year}"></span></td>
            </tr>
            <tr>
                <td>Ranking</td>
                <td>:</td>
                <td><span th:text="*{ranking}"></span></td>
            </tr>
            <tr>
                <td>Users rated</td>
                <td>:</td>
                <td><span th:text="*{usersRated}"></span></td>
            </tr>
            <tr>
                <td>URL</td>
                <td>:</td>
                <td><a th:href="*{url}" target="_blank"><span th:text="*{url}"></span></a></td>
            </tr>
        </table>
        <br>
        
        <form action="/" method="get">
            <button type="submit">Search for other boardgames</button>
        </form><br>

        <div th:if="${commentSuccessful}" style="color: red;">
            <span th:text="${commentSuccessful}"></span>
        </div>
        
            <div>
                <h3>Share your reviews</h3>

                <form th:action="'/game/' + *{gameId}" method="post">
                    <textarea name="comment" cols="30" rows="10"></textarea><br><br>
                    <!-- <input type="hidden" th:field="${game}"> -->
                    <!-- <input type="hidden" name="gameId" th:value="*{gameId}"> -->
                    <button type="submit">Submit</button>
                </form>
            </div>
    </div>

</body>

</html>